*{
    margin: 0;
    padding: 0;
}
:root {
    --gb-color: #050A24;
    --text-white: #fff;
}
a {
    text-decoration: none;
    color: var(--text-white);
}
body {
    background-color: var(--gb-color);
    color: var(--text-white);
    font-family: "Vigo", sans-serif;
}

.cabecalho {
    width: 80%;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.cabecalho .logo .contraste{
    filter: saturate(200%) sepia(20%);
    
}



.menu ul li{
    transition: all .5s;
    display: inline;
    padding: 10px;
}
.menu ul li a {
    transition: all .1s;
}
.menu ul li a:hover {
    transition: all 9s;
    text-transform: uppercase;
}
#banner {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-wrap: wrap; */
}

#banner h1 {
    font-size: 2rem;
    font-weight: lighter;
    margin-bottom: 20px;
}

#banner p {
    margin-bottom: 20px;
    max-width: 400px;
}

#banner .left .avatar-img {
    height: 500px !important;
}

.socials {
    display: flex;
    margin-top: 10px;;
}
.socials  div {
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: #091034;
    border-radius: 5px;
    margin-right: 15px;
    padding: 5px;
}
.socials-img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

#tecnologias {
    margin-top: -10px;
    box-shadow: 1px -14px 30px #2226;
    background-color: #091034;
    
    display: flex;
    justify-content: center;

}
#tecnologias div {
    text-align: center;
    background-color: #050A24;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

#tecnologias .tecnologias-img {
    width: 100px;
    height: 100px;
}
#experiencias{
    width: 80%;
    margin: auto;
}

#experiencias div {
    background: #091034;
    padding: 30px 20px;
    margin-top: 30px;
    width: 60%;
    margin:60px auto;
    border-radius: 15px;
}

#experiencias div .descricao-vaga {
    line-height: 2rem;
}
#experiencias div .cargo {
   font-weight: lighter;
   margin: 10px 0;
}
#experiencias div .empresa {
   font-weight: bold;
   margin: 10px 0;
}

#experiencias div .periodo {
    font-weight: bold;
    margin-bottom: 30px;
    color: aqua;
 }
 #projectos {
    width: 100%;
    padding: 20px 0;

    display: flex;
    align-items: center;
    justify-content: center;

}
@media (max-width: 700px) {
    #projectos {
        flex-wrap: wrap;
    }
}
 #projectos .cartao-projecto {
    width: 200px;
    height: 250px;
    background-color: #091034;
    margin: 10px;
    border-radius: 15px;
    padding: 15px;
 }
 

 #projectos .cartao-projecto img{
    width: 5rem;
 }
 #projectos .projecto-titulo{
    text-align: center;
    line-height: 30px;
    font-size: larger;
    font-weight: lighter;
 }

 #projectos .descricao-projecto{
    text-align: justify;
    line-height: 19px;
    height: auto;
 }
 #projectos .btn-area{
    margin-top: 20px;
 }
 #projectos .btn-area a{
    transition: all .5s;
    background-color: #122270;
    padding: 10px 15px;  
    border-radius: 5px;
 }

 #projectos .btn-area a:hover{
    transition: all .5s;
    background-color: var(--text-white);
    color: var(--gb-color);
    border: solid 2px var(--gb-color);
 }

 
.login-box {
  position:relative;
  top: 50%;
  left: 50%;
  width: 500px;
  padding: 40px;
  background: #091034;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.user-box {
  position: relative;
}

.user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.user-box input:focus {
  border-bottom-color: #03e9f4;
}


.user-box textarea {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  
  .user-box textarea :focus {
    border-bottom-color: #03e9f4;
  }

  .user-box textarea:focus ~ label,
.user-box textarea:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 13px;
}


.user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: all 0.5s;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 13px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: all 0.5s;
  text-align: center;
  width: 100%;
}

.login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: anim1 1s linear infinite;
}

@keyframes anim1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
        left: 100%;
    }
}

.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: anim2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes anim2 {
    0% {
        top: -100%;
    }
    50%,
    100% {
        top: 100%;
    }
}

.login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: anim3 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes anim3 {
    0% {
        right: -100%;
    }
    50%,
    100% {
        right: 100%;
    }
}

.login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: anim34 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes anim34 {
    0% {
        bottom: -100%;
    }
    50%,
    100% {
        bottom: 100%;
    }
}


footer{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    color: #03e9f4;

}